# Gradle 関連
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
out/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# 環境変数ファイル（Gitに含めない）
.env
.env.*
!.env.example

# Nuxt 開発・ビルド成果物
.output
.data
.nuxt
.nitro
.cache
dist

# Node.js 依存関係
node_modules

# ログファイル
logs
*.log

# macOS / JetBrains 関連
.DS_Store
.fleet