<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devtkms.movierecommendation.mapper.QuestionButtonLogMapper">
    <insert id="insert" parameterType="com.devtkms.movierecommendation.entity.QuestionButtonLogEntity">
        INSERT INTO question_button_log (mood, tone, after)
        VALUES (#{mood}, #{tone}, #{after})
    </insert>
</mapper>