<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devtkms.movierecommendation.mapper.TagMasterMapper">
    <select id="findKeywordIdsByConditions" resultType="string">
        SELECT keyword_ids
        FROM tag_master
        WHERE mood = #{mood}
          AND tone = #{tone}
          AND after = #{after}
    </select>
</mapper>